@charset: "UTF-8";

/*
Outras medias queries
*/
@media screen and (min-width: 768px) {
    .relogio {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: auto;
        height: auto;
        position: fixed;
        top: 0% 50%;
        left: 0%;
        margin: 5px;
    }
    .child {
        display: flex;
        flex-direction: column;
        justify-content: center;
        box-shadow: 2px 2px 10px #000000;
        background-color: #000000;
        border-radius: 20px;
        text-align: center;
    }
    .side-bar {
        display: none;
        position: fixed;
        top: 0%;
        left: 0%;
    }
}
    